footer {
    background-color: var(--peach-color);
    margin: auto;
    padding: .1%;
    
    p {
        font-weight: 600;
        color: white;
        position: relative;
        top: 8px;
    }
}